@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lemonada:wght@300&family=Roboto&family=Pacifico&display=swap');

/* Set variables for theming */
:root {
    --fg-color: #FFFFFF;
    --bg-color: #1D1D1D;
}

/* Common for all sections */
section {
    color: var(--fg-color);
    font-size: 1rem;
    padding: 10% 5%;
    background-color: var(--bg-color);
}

/* Hyperlinks */
a {
    text-decoration: none;
    color: #1AA1F4;
}

a:hover {
    color: #1AA1F4;
    text-decoration: underline;
}

a[href="projects.html"] {
    color: #0FFDD8
}

a[href="projects.html"]:hover {
    color: #0FFDD8;
    text-decoration: underline;
}


/* Section titles */
.section-title h2 {
    color: #0FFDD8;
    font-size: 4.5rem;
    font-weight: bold;
}

/* Fonts */
.banger {
    font-family: 'Bangers', cursive;
}

.lemonada {
    font-family: 'Lemonada', cursive;
}

/* Special h5 */
.section-a h5 {
    color: #8D8D8D;
}

/* Red color for 'T' in first section */
#char-t {
    color: #FD2055;
}